@import './variables';

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr 5em;
  height: 100vh;
  padding: 0 0.5em 0 0.5em;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;

  h2 {
    color: $layout-background-colour;
  }

  a {
    color: $layout-background-colour;
    font-weight: bold;

    &:hover {
      color: $purple;
    }
  }

  li {
    margin-top: 0.25em;
  }
}

.footer {
  grid-area: footer;
  background-color: $layout-background-colour;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: $purple;
    }
  }
}
