@import '../public/css/variables';

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 2em;

  .button {
    border: solid 2px $layout-background-colour;
    border-radius: 0.25em;
    background-color: $layout-background-colour;
    color: #fff;
    padding: 0.25em 1em;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
      background-color: $purple;
      color: #fff;
      border-color: $purple;
    }
  }
}
