@import '../public/css/variables';

h2.pastEventsHeading {
  color: hsl(0, 0%, 0%);
}

.pastEvents {
  color: $layout-background-colour;
}

.filmsContainer {
  display: grid;
  grid-template-areas:
    'imageA descriptionA descriptionA descriptionA'
    'descriptionB descriptionB descriptionB imageB'
    'imageC descriptionC descriptionC descriptionC';
  grid-template-rows: auto auto auto auto;
  column-gap: 0.8em;
  row-gap: 0.8em;
  margin-bottom: 0.5em;

  .filmImageNotting {
    grid-area: imageA;
    margin-right: 0.5em;
  }

  .filmDescriptionNotting {
    grid-area: descriptionA;

    .name {
      font-weight: 700;
      color: hsl(32, 100%, 33%);
    }
  }

  .filmImageMonty {
    grid-area: imageB;
  }

  .filmDescriptionMonty {
    grid-area: descriptionB;

    .name {
      font-weight: 700;
      color: hsl(32, 100%, 33%);
    }
  }

  .filmImageRambow {
    grid-area: imageC;
  }

  .filmDescriptionRambow {
    grid-area: descriptionC;

    .name {
      font-weight: 700;
      color: hsl(32, 100%, 33%);
    }
  }
}

.tickets {
  background-color: hsl(152, 100%, 33%);
  color: hsl(100, 100%, 100%);
  padding: 0.9em;
  border-radius: 0.2em;

  ul {
    list-style-type: none;

    .or {
      display: block;
      margin-bottom: 0.3em;
    }

    li:first-child {
      margin-bottom: 1.2em;

      a {
        &.button {
          background-color: hsl(152, 100%, 33%);
          color: hsl(0, 100%, 100%);
          text-decoration: none;
          padding: 0.4em 0.5em;
          border: solid 2px hsl(0, 100%, 100%);
          border-radius: 0.4em;
          transition: 0.5s;

          &:hover {
            background-color: hsl(0, 100%, 100%);
            color: hsl(152, 100%, 33%);
            border: solid 2px hsl(152, 100%, 33%);
            border-radius: 0.4em;
          }
        }
      }
    }

    li:not(:first-child) {
      a {
        &.mapLink {
          color: hsl(0, 100%, 100%);
          padding-left: 0.2em;
          padding-right: 0.2em;
          border: solid 2px hsl(152, 100%, 33%);
          transition: 0.5s;

          &:hover {
            background-color: hsl(0, 100%, 100%);
            color: hsl(152, 100%, 33%);
            border: solid 2px hsl(0, 100%, 100%);
            border-radius: 0.2em;
          }
        }
      }
    }

    li:not(:first-child):not(:last-child) {
      margin-bottom: 0.8em;
    }
  }
}
