@import '../../../public/css/variables';

.menuContainer {
  display: grid;
  grid-template-areas: 'nav cta';
  background-color: $layout-background-colour;

  .nav {
    grid-area: nav;

    a {
      display: inline-block; /* Force layout to respect vertical margin/padding */
      text-decoration: none;
      color: $layout-font-colour;
      padding: 0.75em;
      transition: background-color $layout-transition-duration;
      font-size: 1rem;

      &.active {
        background-color: $layout-link-hover-colour;
      }

      &:hover {
        background-color: $layout-link-hover-colour;
      }

      &.icon {
        display: none;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .nav {
      a {
        display: none;

        &.icon {
          display: block;
        }
      }

      &.responsive {
        a {
          display: block;
          padding: 0.45em 0.75em;
        }
      }
    }
  }

  .ctaContainer {
    grid-area: cta;
    justify-self: end;
    color: $layout-font-colour;
    padding: 0.75em;

    .button {
      text-decoration: none;
      color: $layout-font-colour;
      background-color: red;
      padding: 0.2em 1em;
      border-radius: 1em;
      font-weight: 700;
      transition: 0.3s;

      &:hover {
        color: red;
        background-color: $layout-font-colour;
      }
    }
  }
}
