.footerContainer {
  display: grid;
  grid-template-areas:
    'name'
    'contact';
  grid-template-rows: auto auto;

  .name {
    grid-area: name;
    justify-self: center;
    margin-top: 1.5em;
  }

  .lower {
    margin-top: 0.25em;
    grid-area: contact;
    justify-self: center;
  }
}
