.wrapper {
  display: grid;
  grid-template-areas:
    'logo title'
    'nav nav';
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;

  .logoArea {
    grid-area: logo;
  }

  .titleArea {
    grid-area: title;
  }

  .navArea {
    grid-area: nav;
  }
}

@media screen and (max-width: 605px) {
  .wrapper {
    grid-template-areas:
      'title'
      'nav';
    grid-template-columns: 1fr;

    .logoArea {
      display: none;
    }
  }
}
